@using DeteksiJalanRusak.Web.Controllers
@model Segmen

@{
    ViewData["Title"] = "Detail Segmen";
}

@{
    var densityDvs = Model.DensityDVs();
    var pciResult = Model.MetodePCI();
}

<div class="card card-secondary mb-2">
    <div class="card-header">
        <h4>Detail Segmen</h4>
        <div class="ml-auto">
            <a asp-action="Detail" asp-controller="Analisis" asp-route-id="@Model.Analisis.Id" class="btn btn-primary">Kembali</a>
        </div>
        <div class="ml-2">
            <a asp-action="Edit" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.AbsoluteUri()" class="btn btn-warning">Edit</a>
        </div>
        <div class="ml-2">
            <form asp-action="Hapus" asp-route-id="@Model.Id" style="display:inline">
                <button class="btn btn-danger">Hapus</button>
            </form>
        </div>
    </div>
    <div class="card-body">
        <p>Luas Sampel : @Model.LuasSampel m<sup>2</sup></p>                       
    </div>
</div>

<div class="card mb-2">
    <div class="card-header">
        <h4>Ukuran Kertas Asli</h4>
    </div>
    <div class="card-body">
        <p>Dimensi Kertas (m) : @SegmenController.PANJANG_KERTASA4_M x @SegmenController.LEBAR_KERTASA4_M</p>
        <p>Luas Kertas (m<sup>2</sup>) : @SegmenController.LUAS_KERTASA4_M2</p>
    </div>
</div>

@if (densityDvs.Count > 0)
{
    <div class="card mb-2">
        <div class="card-header">
            <h4>Daftar Nilai Density dan Deduct Value</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover" id="table-akun1">
                    <thead>
                        <tr>
                            <th>Kerusakan</th>
                            <th>Kondisi</th>
                            <th>Total Luas (m<sup>2</sup>)</th>
                            <th>Density (%)</th>
                            <th>Deduct Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dv in densityDvs)
                        {
                            <tr>
                                <td>@dv.Label.Humanize()</td>
                                <td>@dv.Kondisi.Humanize()</td>
                                <td>@dv.TotalLuas</td>
                                <td>@dv.DistressDensity.ToString("F5")</td>
                                <td>@dv.DeductValue</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>            
        </div>
    </div>   
}

@if (pciResult is not null)
{
    <div class="card mb-2">
        <div class="card-header">
            <h4>Hasil Metode PCI</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover" id="table-akun2">
                    <thead>
                        <tr>
                            <th>Mi</th>
                            <th>q<sub>Max</sub></th>
                            <th>TDV<sub>Max</sub></th>
                            <th>CDV<sub>Max</sub></th>
                            <th>PCI</th>
                            <th>Kondisi</th>
                            <th>Jenis Penanganan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@pciResult.MI</td>
                            <td>@pciResult.QMax</td>
                            <td>@pciResult.TDVMax</td>
                            <td>@pciResult.CDVMax</td>
                            <td>@pciResult.PCI</td>
                            <td>@pciResult.Kondisi</td>
                            <td>@pciResult.JenisPenanganan</td>
                        </tr>
                    </tbody>
                </table>
            </div>            
        </div>
    </div>  
}


<div class="card mb-2">
    <div class="card-header">
        <h4>Daftar Kerusakan</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover" id="save-stage">
                <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th rowspan="2">File Name</th>
                        <th rowspan="2">Ukuran Foto</th>
                        <th rowspan="2">m/pixel</th>
                        <th rowspan="2">m<sup>2</sup>/pixel</th>
                        <th rowspan="2">Luas (Kertas)</th>
                        <th rowspan="2">Luas Persegi (Kertas)</th>
                        <th rowspan="2">Panjang (Kertas)</th>
                        <th rowspan="2">Lebar (Kertas)</th>
                        <th rowspan="2">Mask (Kertas)</th>
                        <th colspan="7">Kerusakan</th>
                    </tr>
                    <tr>
                        <th>Jenis</th>
                        <th>Luas</th>
                        <th>Luas Persegi</th>
                        <th>Panjang</th>
                        <th>Lebar</th>
                        <th>Kondisi</th>
                        <th>Mask</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var foto in Model.DaftarFoto)
                    {
                        var rowspan = foto.DaftarKerusakan.Count + 1;
                        <tr>
                            <td rowspan="@rowspan">
                                <img src="@Url.Action(nameof(FotoController.FotoKerusakan), "Foto", new { id = foto.Id})" height="200" />
                            </td>
                            <td rowspan="@rowspan">@foto.FileName</td>
                            <td rowspan="@rowspan">@foto.Lebar x @foto.Tinggi Pixel</td>
                            @if (foto.AdaKertas)
                            {
                                <td rowspan="@rowspan">@foto.MPerPiksel.ToString("F10")</td>
                                <td rowspan="@rowspan">@foto.M2PerPiksel.ToString("F10")</td>
                                <td rowspan="@rowspan">@foto.LuasKertas m<sup>2</sup></td>
                                <td rowspan="@rowspan">@foto.LuasPersegiKertas m<sup>2</sup></td>
                                <td rowspan="@rowspan">@foto.PanjangKertas m</td>
                                <td rowspan="@rowspan">@foto.LebarKertas m</td>
                                <td rowspan="@rowspan">
                                    <p>@foto.LebarPikselKertas x @foto.TinggiPikselKertas Pixel</p>
                                    <img style="background-color:black" src="@Url.Action(nameof(FotoController.MaskKertas), "Foto", new { id = foto.Id })" height="200" />
                                </td>
                            }
                            else
                            {
                                <td rowspan="@rowspan" colspan="7">Objek Pengukur (Kertas) tidak ditemukan</td>
                            }
                        </tr>
                        @foreach (var kerusakan in foto.DaftarKerusakan)
                        {
                            <tr>
                                <td>@kerusakan.Label.Humanize()</td>
                                @if (foto.AdaKertas)
                                {
                                    <td>@kerusakan.Luas.ToString("F5") m<sup>2</sup></td>
                                    <td>@kerusakan.LuasPersegi.ToString("F5") m<sup>2</sup></td>
                                    <td>@kerusakan.Panjang.ToString("F5") m</td>
                                    <td>@kerusakan.Lebar.ToString("F5") m</td>
                                    <td>@kerusakan.Kondisi</td>
                                }
                                else
                                {
                                    <td rowspan="@rowspan - 1" colspan="5">Objek Pengukur (Kertas) tidak ditemukan</td>
                                }
                                <td>
                                    <p>@kerusakan.LebarPiksel x @kerusakan.TinggiPiksel Pixel</p>
                                    <img style="background-color:black" src="@Url.Action(nameof(FotoController.MaskKerusakan), "Foto", new { id = kerusakan.Id })" height="200" />
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>        
    </div>
</div>