@using DeteksiJalanRusak.Web.Models.SegmenModels
@model EditVM

@{
    ViewData["Title"] = "Edit Segmen";
}

<div class="card card-primary">
    <div class="card-header">
        <h4> Edit Segmen</h4>
    </div>

    <div class="card-body">
        <form asp-action="Edit" asp-route-id="@Model.Id" asp-route-returnUrl="@Model.ReturnUrl" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="@Model.LuasSampel"></label>
                <input asp-for="@Model.LuasSampel" class="form-control" />
                <span asp-validation-for="@Model.LuasSampel" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Simpan</button>
                <a href="@Model.ReturnUrl" class="btn btn-danger">Batal</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}